.export-page {
	margin-top: 20px;
	max-width: 100%;
}

.export-page-link {
	float: right;
	color: silver;
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 26px;
	z-index: 2;
}

.export-page-well {
	margin-left: 8px;
	height: 34px;
	padding-top: 6px;
	color: darkred;
}

.export-page-bundle-log {
	height: 200px;
	white-space: pre;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column-reverse;
	display: flex;
}
