.configurator-checkbox {
	width: max-content;
}

.configurator-title {
	font-weight: 600;
	font-stretch: extra-expanded;
	color: #2e4468;
	margin-bottom: 0px;
}

.configurator-column {
	width: 15%;
	word-wrap: break-word;
}

.configurator-wide-column {
	width: 27.5%;
	word-wrap: break-word;
}

.configurator-tr-active {
	background: rgba(129, 226, 129, 0.2) !important;
}

.configurator-tr-invalid {
	background: rgba(255, 134, 134, 0.993) !important;
}

.style-button {
	position: absolute;
	right: 6px;
	top: 5px;
}
