.configurator-checkbox {
	width: max-content;
}

.configurator-title {
	font-weight: 600;
	font-stretch: extra-expanded;
	color: #2e4468;
	margin-bottom: 0px;
}

.configurator-column {
	width: 15%;
	word-wrap: break-word;
}

.configurator-wide-column {
	width: 27.5%;
	word-wrap: break-word;
}

.configurator-tr-active {
	background: rgba(129, 226, 129, 0.2) !important;
}

.configurator-tr-invalid {
	background: rgba(255, 134, 134, 0.993) !important;
}

.style-button {
	position: absolute;
	right: 6px;
	top: 5px;
}

.configurator-option-filter-select {
	float: right;
	width: 200px;
	margin-right: 6px;
}

.configurator-searchbar {
	width: 14vw;
	min-width: 120px;
	float: right;
	margin-bottom: 2;
}

.configurator-instructions {
	font-size: 12px;
	margin: 0;
}

.configurator-body {
	height: 80vh;
	overflow-y: auto;
	margin: 0.5rem;
}

.configurator-date-time-picker-modal {
	min-width: 370px;
	padding: 12px;
	position: fixed;
	z-index: 10000;
	background-color: gainsboro;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 0 3px black;
}

.configurator-date-time-picker-header {
	padding-left: 4px;
	font-weight: 600;
	font-family: "Open Sans Condensed", sans-serif;
	font-variant: all-small-caps;
}

.configurator-clock {
	background-color: #2e4468;
}

.configurator-clock .react-datetime-picker__wrapper {
	color: white;
	font-size: 1.1em;
	padding: 3px;
}

.configurator-clock .react-datetime-picker__wrapper input,
.configurator-clock .react-datetime-picker__inputGroup__input {
	color: white;
}

.configurator-clock .react-datetime-picker__wrapper option {
	background-color: #2e4468;
}

.configurator-clock .react-datetime-picker__button svg {
	stroke: white;
}

.configurator-date-time-picker-close-button {
	position: absolute;
	top: 0;
	right: 0;
}
