.vertical-slider {
	margin: 0 auto;
	max-width: 1200px;
}

.vertical-slider-header:hover {
	background: rgba(0, 0, 0, 0.1);
	transition: all 0.3;
}

.vertical-slider-header {
	padding: 4px;
	width: 100%;
	border: 1px solid rgba(92, 92, 92, 0.6);
	background: rgba(0, 0, 0, 0.03);
	cursor: pointer;
	color: #2e4468;
	font-weight: 700;
	font-family: "Open Sans Condensed";
	font-size: 1.75rem;
}

.vs-display {
	transition: all 0.5s ease-out;
	height: auto;
	transform-origin: left top;
	animation: swing-in-top-fwd 0.5s;
	border: 1px solid rgba(92, 92, 92, 0.6);
	padding: 5px;
}

.vs-hidden {
	display: none;
	transition: all 0.5s ease-out;
	animation: swing-out-top-fwd 0.5s;
}

.vs-titling {
	color: #ca5800;
	font-size: 40px;
	font-weight: 700;
	font-family: "Open Sans Condensed";
	margin: 0.3em 0;
	transition: all 0.3s;
}

.vs-titling:hover {
	color: orange;
}
