/* BASICS */

.component-documentation .CodeMirror {
	/* Set height, width, borders, and global font properties here */
	height: auto !important;
	min-height: 0;
	max-height: 300px;
	font-family: monospace;
	padding-left: 8px;
}

.component-documentation .CodeMirror-scroll {
	/* Set scrolling behaviour here */
	min-height: 0;
	max-height: 300px;
	overflow: auto;
}
