/* BASICS */

/* Set height, width, borders, and global font properties here */

.component-documentation .CodeMirror {
	height: auto !important;
	min-height: 0;
	max-height: 300px;
	font-family: monospace;
	padding-left: 8px;
}

/* Set scrolling behaviour here */

.component-documentation .CodeMirror-scroll {
	min-height: 0;
	max-height: 300px;
	overflow: auto;
}
