.component-documentation {
	margin: 0 auto;
	max-width: 1200px;
	background: lightgray;
}

.playground-editable {
	background: rgb(30, 30, 30);
	color: gainsboro;
	text-align: center;
	font-size: 22px;
	letter-spacing: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
