.presenter-mode-button {
	position: fixed;
	top: 24px;
	left: 10px;
	font-size: 1.5em;
	color: #c95d0a;
	z-index: 3;
	cursor: pointer;
	transition: 300ms transform ease;
}

.presenter-mode-button:hover {
	transform: scale(1.25);
}
