.sticky-note {
	position: absolute;
	left: 300px;
	top: 200px;
	width: 300px;
	height: 300px;
	z-index: 2;
	background-image: url(https://isle.heinz.cmu.edu/Summertime_lp_postit.png);
}

.sticky-note-exit {
	animation: sticky-note-swirl-out-bck 1s ease-in forwards;
}

.sticky-note-callback {
	cursor: pointer;
}

.sticky-note-content {
	position: inherit;
	left: 30px;
	top: 35px;
	height: 250px;
	width: 250px;
	transform: rotate(-3deg);
	overflow: hidden;
}

.sticky-note-title {
	position: inherit;
	top: 10px;
	padding-left: 10px;
	font-family: Sacramento;
	font-size: 24px;
	font-weight: 800;
}

.sticky-note-date {
	position: inherit;
	top: 14px;
	right: 5px;
}

.sticky-note-body {
	position: inherit;
	top: 40px;
	padding: 10px;
	padding-left: 15px;
	font-family: Sacramento;
	font-size: 20px;
}

.sticky-note-stain {
	position: inherit;
	left: 50%;
	top: 60%;
	opacity: 0.5;
	width: 200px;
	height: 120px;
	background-image: url(https://isle.heinz.cmu.edu/Summertime_lp_kaffee2.png);
	background-size: 200px 120px;
}

.sticky-note-pin-image-map {
	position: inherit;
	left: 45%;
	width: 52px;
	height: 52px;
	top: 0;
	cursor: crosshair;
	z-index: 2;
}

/**
* ----------------------------------------
* animation swirl-out-bck
* ----------------------------------------
*/
@-webkit-keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}

@keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}
