@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.sticky-note {
	width: 300px;
	height: 300px;
	background-image: url(https://isle.heinz.cmu.edu/Summertime_lp_postit.png);
	transition: all 0.3s;
}

.sticky-note .editable {
	cursor: pointer;
}

.sticky-note-outer {
	z-index: 1002;
	width: 45px;
	height: 45px;
}

.sticky-note-wrapper {
	position: relative;
}

.sticky-note-exit {
	animation: sticky-note-swirl-out-bck 1s ease-in forwards;
}

.sticky-note-callback {
	cursor: pointer;
}

.sticky-note-content {
	position: absolute;
	left: 30px;
	top: 35px;
	height: 250px;
	width: 250px;
	transform: rotate(-3deg);
	overflow: hidden;
}

.sticky-note-title {
	position: absolute;
	top: 10px;
	padding-left: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: 1.4em;
	font-weight: 800;
}

.sticky-note-editable-title {
	border: none;
	background: rgba(255, 255, 255, 0.3);
	font-weight: 800;
}

.sticky-note-editable-body {
	border: none;
	background: rgba(255, 255, 255, 0.3);
}


.sticky-note-date {
	position: absolute;
	top: -5px;
	right: 5px;
}

.sticky-note-body {
	position: absolute;
	top: 40px;
	padding: 10px;
	padding-left: 15px;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
}

.sticky-note-minimized {
	transform: scale(0.15);
	transition: all 0.6s;
	cursor: pointer;
}

.sticky-note-controls {
	position: absolute;
	right: 24px;
	top: 9px;
	width: auto;
	height: 16px;
	font-size: 32px;
	z-index: 2;
}

.sticky-note-remove-button {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;
	font-size: 26px;
	margin-left: 6px;
	z-index: 2;
	font-family: Open Sans;
}


.sticky-note-remove-button:hover {
	cursor: pointer;
	color: red;
}

.sticky-note-minimizable {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	font-size: 32px;
	z-index: 2;
}

.sticky-note-minimizable:hover {
	cursor: pointer;
	color: red;
}

.sticky-note-stain {
	position: absolute;
	left: 50%;
	top: 60%;
	opacity: 0.5;
	width: 200px;
	height: 120px;
	background-image: url(https://isle.heinz.cmu.edu/Summertime_lp_kaffee2.png);
	background-size: 200px 120px;
}

.sticky-note-pin-image-map {
	position: absolute;
	left: 45%;
	width: 52px;
	height: 52px;
	top: 0;
	cursor: crosshair;
	z-index: 2;
}

/**
* ----------------------------------------
* animation swirl-out-bck
* ----------------------------------------
*/
@-webkit-keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}

@keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}
