.toolbar-buttongroup {
	position: fixed;
	bottom: 0%;
	left: 0px;
	z-index: 1003;
	box-shadow: 0 0 5px darkslategray;
	opacity: 0.6;
}

.toolbar-buttongroup:hover {
	opacity: 1;
}

.toolbar-button .toolbar-icon {
	opacity: 0.6;
}

.toolbar-button:hover .toolbar-icon {
	opacity: 1;
}

.toolbar-outer-element {
	position: fixed;
	top: 2%;
	z-index: 1002;
}

.toolbar-inner-element {
	padding: 8px;
	min-width: 50px;
	min-height: 50px;
}

.toolbar-inner-element .container {
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	padding: 12px;
}

.toolbar-hide-button {
	font-size: 24px;
	position: absolute;
	top: 14px;
	right: 12px;
	border: none;
	background: none;
	color: #2e4468;
	cursor: pointer;
}

.help-buttons {
	font-size: 24px;
	position: fixed;
	top: 16px;
	right: 16px;
}

.help-close-button {
	margin-left: 12px;
	border: none;
	background: none;
	color: #2e4468;
	cursor: pointer;
}

.toolbar-hide-button:hover {
	color: rgba(220, 53, 69, 0.6);
}

.toolbar-queue-counter {
	color: #c24f00;
	font-size: 18px;
	font-family: "Open Sans Condensed";
	font-weight: 700;
	z-index: 2;
	position: absolute;
	right: 4px;
	top: -7px;
}

.toolbar-engagement-buttons {
	z-index: 1003;
}
