.vertical-slider-header:hover {
	cursor: pointer;
	color: red;
	transition: all 0.3;
}

.vs-display {
	transition: all 0.5s ease-out;
	height: auto;
	transform-origin: left top;
	animation: swing-in-top-fwd 0.5s;
}

.vs-hidden {
	transform: scale(0);
	height: 0;
	transition: all 0.5s ease-out;
	animation: swing-out-top-fwd 0.5s;
}

.vs-titling {
	color: #ca5800;
	font-size: 40px;
	font-weight: 700;
	font-family: Open Sans Condensed;
	margin: 0.3em 0;
	transition: all 0.3s;
}

.vs-titling:hover {
	color: orange;
}
