.student-responses-time {
	font-variant-caps: petite-caps;
	font-size: 0.75em;
	position: absolute;
	top: 0;
	right: 4px;
	color: rgb(100, 100, 100);
}

.student-responses-row {
	padding: 0.1rem;
	min-height: 48px;
}

.student-responses-note-button {
	position: absolute;
	top: 2px;
	right: 2px;
	border: none;
}

.student-responses-note-button:hover {
	background: var(--yellow);
}

.student-responses-row .col {
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
}

.student-responses-first-col {
	background-color: rgba(173, 216, 230, 0.6);
}

.student-responses-points-input {
	width: 60px;
	display: inline;
	margin: 5px;
}

.student-responses-feedback-messages {
	max-height: calc(45vh - 80px);
	overflow-y: auto;
}

.feedback-message {
	white-space: pre-wrap;
	font-family: "Open Sans", sans-serif;
	display: flex;
}

.feedback-message-right {
	flex: 1 1 0;
	padding-left: 8px;
}

.feedback-message-right img {
	width: 50%;
	height: auto;
}

.feedback-message-content {
	word-wrap: break-word;
}

.feedback-picture {
	width: 32px;
	height: 32px;
	border-radius: 3px;
}

.feedback-time {
	font-size: 0.8em;
	color: dimgray;
}

.student-responses-note-icon {
	margin-right: 26px;
}

.student-responses-note-badge {
	top: 4px;
	right: 2px;
	position: absolute;
}
