.chat-outer-div {
	top: 0;
	z-index: 5;
	font-size: 13px;
	font-family: Open Sans;
	box-shadow: 2px 2px 10px darkslategrey;
}

.chat-div {
	position: absolute;
	height: 20px;
	width: 100%;
	top: 0;
	background-color:rgb(108, 117, 125);
	border-left: solid 1px darkgrey;
	border-bottom: solid 1px darkgrey;
	border-right: solid 1px darkgrey;
	padding-left: 5px;
	color: white;
	cursor: pointer;
}

.chat-presence {
	width: 10px;
	margin-left: 6px;
	height: 10px;
	bottom: 4px;
	background-color: darkorange;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 3px darkgrey;
}

.chat-members {
	position: relative;
	height: 20px;
	margin-top: 20px;
	width: 100%;
	background-color: whitesmoke;
	border-left: solid 1px darkgrey;
	border-bottom: solid 1px darkgrey;
	border-right: solid 1px darkgrey;
	padding-left: 5px;
	overflow: hidden;
}

.chat-body {
	height: 196px;
	overflow-y: scroll;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
}

.chat-body-outer {
	background-color: white;
	top: 32px;
	border-left: solid 1px darkgrey;
	border-bottom: solid 1px darkgrey;
	border-right: solid 1px darkgrey;
}

.chatmessage {
	white-space: pre-wrap;
	font-size: 13px;
	font-family: Open Sans;
}

.chatmessage-content {
	word-wrap:break-word;
}

.unread {
	background: linen;
}

.chatuser {
	color: steelblue;
	font-weight: 600;
}

.chatexit {
	float: right;
	width: 16px;
	height: 20px;
	background: darkgrey;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.chat-textarea {
	font-size: 13px;
	line-height: 16px;
}

.chat-textarea:focus {
	background-color: ghostwhite;
}

.chatexit:hover {
	background: lightcoral;
}
