.title-button {
	float: center;
	background: rgba(0, 0, 0, 0.045);
	box-shadow: none;
	border-color: #0000004d;
	width: calc(100% - 42px);
}

.help-button {
	float: right;
	color: var(--quartary);
	box-shadow: none;
	background: rgba(0, 0, 0, 0.045);
	border-color: #0000004d;
	font-size: 19px;
	letter-spacing: 2.5px;
}

.help-button:hover {
	color: var(--quartary);
}

.title-button-h4 {
	text-align: center;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 21px;
	letter-spacing: 2.5px;
}

.title-nobutton-h4 {
	text-align: center;
	margin-top: 0px;
	font-size: 21px;
	letter-spacing: 2.5px;
}

.data-table-footer-button {
	float: right;
	margin-top: -2px;
	margin-right: 7px;
}

.data_button_wrapper {
	padding-bottom: 10px;
}

.data-table-wrapper {
	font-size: 12px;
	margin-bottom: 17px;
}
