/* your custom css */

:root {
	--ifm-color-primary: #028dd3;
	--ifm-color-primary-dark: #027fbe;
	--ifm-color-primary-darker: #0278b3;
	--ifm-color-primary-darkest: #016394;
	--ifm-color-primary-light: #029be8;
	--ifm-color-primary-lighter: #02a2f3;
	--ifm-color-primary-lightest: #18b0fd;
	--ifm-code-font-size: 100%;
	--ifm-heading-color: #559AED;
	--ifm-container-width: 1400px;
}

.hero__title {
	color: white;
}

html[data-theme='dark'] {
	--ifm-heading-color: #FFBA4E;
}

.heroBanner_src-pages- {
	box-shadow: 0 0 5px 1px darkgrey;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
	color: #b00;
}

.aa-cursor .algolia-docsearch-suggestion--content {
	color: #b00;
}

.isle-footer-logo {
	display: block;
	margin: 1em auto;
	opacity: 0.4;
	-webkit-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
	width: 170px;
}

.solution_button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Libre Franklin', sans-serif;
}

.alert--warning h5,
.alert--info h5,
.alert--success h5 {
	color: white;
}

.nav-footer {
	background-color: #5d6064;
}

.navbar--fixed-top {
	box-shadow: 0 0 5px 1px darkgrey;
}

.footer {
	box-shadow: -1px -1px 5px darkgrey;
}
