.rshell {
	max-width: 1200px;
	min-width: 400px;
	padding: 5px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 15px;
	background: white;
	border: 1px solid  rgba(92, 92, 92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92, 92, 92, 0.5);
}

.rshell-editor {
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	font-family: monospace;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 10px;
}

.rshell-editor > .CodeMirror {
	height: 100%;
	max-height: 100%;
}
