{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "presets": []
    },
    "test": {
      "plugins": [
        [
          "resolver", {
            "resolveDirs": [
                "app",
                "node_modules/@stdlib/stdlib/lib/node_modules"
              ]
            }
        ]
      ]
    }
  }
}
