.draggable-modal {
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
}

.modal-dialog.react-draggable .h4 {
	font-family: Open Sans Condensed;
	font-size: 1.3em;
	font-weight: 700;
}

.modal-dialog.react-draggable .modal-body {
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}
