.feedback-icon {
	height: 32px;
	width: 32px;
	box-shadow: none;
	transform: scale(1.1);
}

.feedback-icon:hover {
	opacity: 1;
	outline: none;
}

.feedback-buttons {
	display: inline-block;
	float: right;
}

.feedback-button {
	cursor: pointer;
	fill: rgba(92,92,92,0.6);
	transition: 0.3;
	border:solid 1px rgba(92,92,92,0.4);
	margin-right: 1px;
}

.feedback-button:hover {
	transition: 0.3;
	border:solid 1px #ca5800;
	fill: #ca5800;
}

.feedback-button-disabled {
	fill: rgba(92,92,92,0.6);
	transition: 0.3;
	border:solid 1px rgba(92,92,92,0.4);
	margin-right: 1px;
}
