.splitpane {
	height: auto !important;
}

.Lesson {
	overflow: hidden;
}

.common_x97hsk.overflowScroll_eywtei {
	height: 100% !important;
}

.welcome-screen {
	background: white;
	height: 100%;
	width: 100%;
}
