body {
	background-color: #fffff8;
}

#Lesson {
	font-family: 'Cardo', 'Georgia', 'Cambria', serif;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding: 10px;
	width: 100%;
	height: 100%;
	display: block;
}

#Lesson h1 {
	color: lightblue;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Cardo', 'Georgia', 'Cambria', serif;
}

#Lesson h2 {
	font-size: 38px;
	color: darkorange;
	font-family: 'Cardo', 'Georgia', 'Cambria', serif;
}

#Lesson h3 {
	font-size: 28px;
	color: #bd1e13;
	font-family: 'Cardo', 'Georgia', 'Cambria', serif;
}

#Lesson h4 {
	font-size: 24px;
	color: #bd1e13;
	font-family: Open Sans;
}
