body {
	background-color: #fffff8;
}

#Lesson {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	display: block;
}

#Lesson .panel-heading {
	background-image: none;
	box-shadow: 1px 1px 1px darkgrey;
}

#Lesson .popover {
	font-family: 'Open Sans', sans-serif;
}

#Lesson .btn {
	font-family: 'Open Sans', sans-serif;
	box-shadow: 1px 0px 2px rgba(60, 60, 60, 1), inset 1px 0px 2px rgba(160, 160, 160, 1);
}

#Lesson .btn-primary {
	background: #2e4468;
	border-color: black;
}

#Lesson .btn-primary:focus, .btn-primary.focus  {
	box-shadow: 1px 1px 5px white;
}

#Lesson .btn-primary:hover {
	box-shadow: inset 1px 1px 5px white;
	transition: 0.3s;
}

#Lesson .btn-primary.disabled, .btn-primary:disabled {
	box-shadow: none !important;
	background-color: #0275d8;
	border-color: #0275d8;
}

#Lesson .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #025aa5;
	background-image: none;
	border-color: #01549b;
}

#Lesson .btn-success {
	background: #3c763d;
	border-color: black;
}

#Lesson .btn-success:hover {
	box-shadow: inset 1px 1px 5px white;
	transition: 0.3s;
}

#Lesson .btn-success:focus, .btn-success.focus {
	box-shadow: 1px 1px 5px white;
}

#Lesson .btn-success.disabled, .btn-success:disabled {
	box-shadow: none !important;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

#Lesson .btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #449d44;
	background-image: none;
	border-color: #419641;
}

#Lesson .btn-xs {
	box-shadow: none;
}

#Lesson .btn-group-xs {
	box-shadow: none;
}

#Lesson .date-selection {
	box-shadow: none;
	border: 1px solid rbg(64,64,64);
}

#Lesson .active-button {
	background: slategray;
	color: white;
	text-shadow: none;
}

#Lesson .DateInput {
	padding: 0px;
	font-size: 12px;
	line-height: 12px;
	width: inherit;
}

#Lesson .DateRangePickerInput {
	height: 22px;
	border: none;
}

#Lesson .DateRangePickerInput__arrow svg {
	width: 16px;
	height: 16px;
	vertical-align: initial;
}

#Lesson .statusbar {
	position: absolute;
	width: 34%;
	min-width: 300px;
	height: 48px;
	left: 0;
	right: 0;
	top: -32px;
	margin: auto;
	z-index: 1000;
	opacity: 0.7;
	cursor: pointer;
}

#Lesson .actionNote {
	white-space: pre-wrap;
}

#Lesson .chatmessage {
	white-space: pre-wrap;
	font-family: Arial, Helvetica, sans-serif;
}

#Lesson .unread {
	background: linen;
}

#Lesson .chatuser {
	color: steelblue;
	font-weight: 600;
}

#Lesson .chatexit {
	float: right;
	width: 16px;
	height: 16px;
	background: darkgrey;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#Lesson .chatexit:hover {
	background: lightcoral;
}

#Lesson .clickable {
	background: transparent;
	cursor: pointer;
}

#Lesson .clickable:hover {
	background: lightcoral;
}

#Lesson .sendbutton {
	background: gainsboro;
	cursor: pointer;
}

#Lesson .sendbutton:hover {
	background: rgb(130, 224, 160);
}

#App #Lesson .statusbar {
	position: fixed;
}

#Lesson h1 {
	color: #2e4468;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}

#Lesson h2 {
	font-size: 32px;
	color: #3c763d;
	font-weight: 600;
}

#Lesson h3 {
	font-size: 24px;
	color: #2e4468;
	font-weight: 600;
}

#Lesson h4 {
	font-size: 20px;
	color: #ca5800;
	font-weight: 600;
}

#Lesson th, td {
	padding: 5px;
}

#Lesson a {
	color: #2e4468;
}

#Lesson .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #ca5800;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	font-weight: 600px;
}

#Lesson ul {
	list-style-position: outside !important;
	margin-left: 30px;
}

#Lesson .RShell {
	max-width: 600px;
	padding: 5px;
	border: 2px solid #2e4468;
	border-radius: 4px;
	text-align: left;
	margin: 0 auto;
}

.isleImageModal {
	background: 'cyan';
	height: 70%;
	width: 'auto';
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	margin: 'auto';
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

 .venntooltip {
	position: absolute;
	text-align: center;
	width: 128px;
	height: 30px;
	background: #333;
	color: #ddd;
	padding: 2px;
	border: 0px;
	border-radius: 8px;
	opacity: 0;
	font-size: 12px;
}
