.login-modal {
	position: fixed;
	top: 20%;
	height: auto;
	left: 0;
	right: 0;
	margin: auto;
}

.forgot-password-button {
	background: none;
	border: none;
	cursor: pointer;
}

.forgot-password-button:hover {
	color: #2e4468;
}

.sso-link {
	text-decoration: none;
}

.sso-link:hover {
	color: #2e4468;
}
