.text-container-div {
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 8px;
	clear: both;
}

.text-inline-input {
	text-align: left;
	display: inline;
	background: rgba(186, 204, 234, 0.3);
	font-weight: 600;
	color: rgb(92, 92, 92);
	box-shadow: inset 1px 1px 4px  rgba(186, 204, 234, 1);
	border: solid 1px darkgrey;
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	min-width: 120px;
}

.text-input {
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 4px;
	border: solid 1px darkgrey;
	background: rgba(186, 204, 234, 0.3);
	font-weight: 600;
	padding-top: 4px;
	padding-bottom: 4px;
	color: rgb(92, 92, 92);
	box-shadow: inset 1px 1px 4px  rgba(186, 204, 234, 1);
	min-width: 120px;
	text-align: left;
	float: right;
}

.text-inline-input:focus {
	background: rgba(204, 88, 0, 0.16);
	box-shadow: none;
}

.text-input:focus {
	background: rgba(204, 88, 0, 0.16);
	box-shadow: none;
}
