.outer-queue {
	position: fixed;
	z-index: 1002;
}

.queue-panel {
	animation: anim-scale-up 0.6s forwards;
}

.queue-hide-button {
	float: right;
}

.queue-hide-button:hover {
	color: rgba(220, 53, 69, 0.6);
}
