.outer-queue {
	position: fixed;
	z-index: 1004;
}

.queue-panel {
	animation: anim-scale-up 0.6s forwards;
}

.queue-hide-button {
	float: right;
}

.queue-hide-button:hover {
	color: rgba(220, 53, 69, 0.6);
}

.queue-table-pic {
	width: 36px;
	height: 36px;
	transition: transform 0.2s;
	border: solid 1px darkgray;
	border-radius: 0.25rem;
	cursor: zoom-in;
}

.queue-table-pic:hover {
	position: fixed;
	transform: scale(2.5);
}
