<!DOCTYPE html>
<html lang="<%= meta.language %>">
	<head>
		<meta charset="utf-8">
		<meta name="Description" content="<%= meta.description %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= meta.title %></title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700,800" rel="stylesheet">
		<link rel="stylesheet" href="css/lesson.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.min.css"/>
	</head>
	<body>
	<div id="loading">
		<div id="loading-author"><%= meta.author %></div>
		<div id="loading-titling"><%= meta.title %></div>
		<% if ( meta.description ) { %>
			<div id="loading-description"><%= meta.description %></div>
		<% } %>
		<div id ="loading-bar"></div>
		<div id="loading-date"><%= meta.date %></div>
		<% if ( meta.logo ) { %>
			<img id="loading-logo" src="<%= meta.logo %>" />
		<% } %>
	</div>
	<div id="App"></div>
	</body>
	<script>
		// Handle bug occurring when crypto-browserify is used with Webpack...
		window._crypto = {};
	</script>
</html>
