<!DOCTYPE html>
<html lang="<%= meta.language %>">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="<%= meta.description %>">
		<meta name="author" content="<%= meta.author %>">
		<meta name="keywords" content="<%= meta.keywords %>">
		<meta name="theme-color" content="#e8e8e8">
		<% if ( meta.fixedView ) { %>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
		<% } else { %>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<% } %>
		<title><%= meta.title %></title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" >
		<link rel="manifest" href="manifest.json" >
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700,800" rel="stylesheet">
		<script src="https://kit.fontawesome.com/3a7c01b4b9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.min.css"/>
		<% if ( meta.fixedView ) { %>
		<style>
			html {
				position: fixed;
				overflow: hidden;
				width: 100vw;
				height: 100vh;
			}
		</style>
		<% } %>
	</head>
	<body>
		<div id="loading">
			<div id="loading-author"><%= meta.author %></div>
			<div id="loading-titling"><%= meta.title %></div>
			<% if ( meta.description ) { %>
				<div id="loading-description"><%= meta.description %></div>
			<% } %>
			<div id ="loading-bar"></div>
			<div id="loading-date"><%= meta.date %></div>
			<% if ( meta.logo ) { %>
				<img id="loading-logo" src="<%= meta.logo %>" />
			<% } %>
			<% if ( meta.objectives ) { %>
				<div id="loading-objectives">
					<span id="loading-objectives-title">Learning Objectives</span>
					<ul>
						<% for( var tag in meta.objectives ) { %>
							<li><%= meta.objectives[tag] %></li>
						<% } %>
					</ul>
				</div>
			<% } %>
		</div>
		<div id="App"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.3/polyfill.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.20171210/classList.min.js"></script>
		<script src='https://meet.jit.si/external_api.js'></script>
		<noscript>
			<div id="noscript-background" >
				<h1 id="noscript-header" >Please enable JavaScript in order to use ISLE.</h1>
			</div>
		</noscript>
		<script>
			// Handle bug occurring when crypto-browserify is used with Webpack...
			window._crypto = {};
		</script>
		<% if ( loadFromCDN ) { %>
		<script src="https://cdn.jsdelivr.net/npm/@isle-project/dll@0.50.20/dll.locales.js" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/@isle-project/dll@0.50.20/dll.session.js" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/@isle-project/dll@0.50.20/dll.components.js" charset="utf-8"></script>
		<% } %>
	</body>
</html>
