#pwa-notification {
	visibility: hidden;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 8px;
	position: fixed;
	z-index: 999;
	left: 1%;
	top: 2%;
}

#pwa-notification.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
