.panel {
	border: 1px solid rgba(92, 92, 92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(92, 92, 92, 0.5);
	margin: 0 auto 10px;
	margin-top: 8px;
	max-width: 1200px;
}

.react-draggable .panel {
	margin: 0;
}

.panel .card-body {
	overflow: auto;
}

.panel-hide-button {
	float: right;
	border: none;
	background: none;
	color: #2e4468;
}

.panel-hide-button:hover {
	color: rgba(220, 53, 69, 0.6);
}

.panel-fullscreen-view {
	max-width: 1200px;
	font-size: 26px;
	height: fit-content;
}

.panel-fullscreen-view textarea {
	font-size: 26px;
}
