.modal-backdrop-second-order {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1990;
	background-color: #000;
}

.response-visualizer-action-model-text {
	color: darkred;
	white-space: pre-wrap;
	word-wrap: break-word;
}
