.switch {
	display: inline-block;
	height: auto;
	width: auto;
}

.switch.active {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.switch.active:hover {
	transform: scale(1.05);
	color: #ca5800;
}
