.data-explorer-output {
	padding: 0;
}

.data-explorer-questions {
	margin: 0;
	padding: 0;
}

.data-explorer-navbar {
	font-size: 18px;
	color: #2e4468;
	font-weight: 600;
	background: rgba(176, 192, 222, 0.15);
	margin-bottom: 0px;
}

.data-explorer-output-header {
	font-size: 18px;
	color: #2e4468;
	font-weight: 600;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

.data-explorer-subset-filter-display {
	margin-top: 10px;
	margin-left: 10px;
	background: lightcoral;
	width: max-content;
}

.data-explorer-toolbox {
	z-index: 1004;
	position: fixed;
	top: 10%;
	min-width: 500px;
}

.data-explorer-draggable-bar {
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 26px;
	background-color: rgba(200, 200, 200, 0.5);
	opacity: 0.6;
	color: black;
	letter-spacing: 5px;
	text-align: center;
	cursor: move;
	padding: 0.3rem 0.3rem;
}

.data-explorer-draggable-bar:hover {
	background-color: rgba(22, 8, 8, 0.8);
	color: white;
	opacity: 0.9;
}

.outputPanel pre {
	position: relative;
}
