.instructor-notes {
	border: 1px solid  rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 7px rgba(92,92,92, 0.5);
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
