.outer-calc {
	position: fixed;
	top: 2%;
	z-index: 1002;
}

#calculator-panel {
	background: rgba(240, 240, 240, 0.9);
	width: 40%;
	min-width: 380px;
	max-width: 450px;
	animation: anim-scale-up 0.6s forwards;
}

#calculator-panel-full {
	background: rgba(240, 240, 240, 0.9);
	width: 50%;
	min-width: 580px;
	max-width: 700px;
	animation: anim-scale-up 0.6s forwards;
}

#calculator-panel input {
	background: white;
	transition: all 0.6s;
	font-weight: 600;
}

#calculator-panel input:focus {
	background: floralwhite;
	box-shadow: inset 0 0 2px darkslategrey;
}

#calculator-panel-full input {
	background: white;
	transition: all 0.6s;
	font-weight: 600;
}

#calculator-panel-full input:focus {
	background: floralwhite;
	box-shadow: inset 0 0 2px darkslategrey;
}

.calculator-btn-small {
	width: calc(25% - 4px);
	margin: 2px;
	font-size: 1em;
	padding: 4px;
}

.calculator-half-btn {
	width: calc(50% - 4px);
	margin: 2px;
}

.calculator-btn-full {
	width: calc(100% / 7 - 4px);
	margin: 2px;
	font-size: 1em;
	padding: 4px;
}

.solve-button {
	width: calc(41.75%);
	margin: 3px;
}

.desaturated {
	filter: saturate(20%);
	transition: all 1.2s;
}

.desaturated:hover {
	filter: saturate(50%);
}
