.outer-calc {
	position: fixed;
	z-index: 1002;
}

.calc-hide-button {
	float: right;
}

.calc-hide-button:hover {
	color: rgba( 220, 53, 69, 0.6 );
}

#calc-panel {
	background: rgba(240,240,240,0.9);
	width: 40%;
	min-width: 380px;
	max-width: 450px;
	animation: anim-scale-up .6s forwards;
}

#calc-panel-full {
	background: rgba(240,240,240,0.9);
	width: 50%;
	min-width: 580px;
	max-width: 700px;
	animation: anim-scale-up .6s forwards;
}


#calc-panel input {
	background: white;
	transition: all 0.6s;
	font-weight: 600;
}

#calc-panel input:focus {
	background: floralwhite;
	box-shadow: inset 0 0 2px darkslategrey;
}


#calc-panel-full input {
	background: white;
	transition: all 0.6s;
	font-weight: 600;
}

#calc-panel-full input:focus {
	background: floralwhite;
	box-shadow: inset 0 0 2px darkslategrey;
}



.input-button-small {
	width: calc(25% - 4px);
	margin: 2px;
}

.half-button {
	width: calc(50% - 4px);
	margin: 2px;
}

.input-button-full {
	width: calc(100% / 7 - 4px);
	margin: 2px;
}

.two-sevenths {
	width: calc(200% / 7);
}

.three-half-sevenths {
	width: calc(350% / 7);
}

.desaturated {
	filter: saturate(20%);
	transition: all 1.2s;
}


.desaturated:hover {
	filter: saturate(50%);
}
