.timer-div {
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 25px;
	z-index: 9999;
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
}

.timer-info {
	background-color: #383D48;
	color: white;
}

.timer-danger {
	background-color: #f87c87;
	color: #591801;
}
