.venn-builder-tooltip {
	position: absolute;
	text-align: center;
	min-width: 128px;
	height: 30px;
	background: #333;
	color: #ddd;
	padding: 2px;
	border: 0px;
	border-radius: 8px;
	opacity: 0;
	font-size: 12px;
}
