/**
* ----------------------------------------
* animation flip-out-ver-left
* ----------------------------------------
*/
@-webkit-keyframes flip-out-ver-left {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateY(-70deg);
		transform: rotateY(-70deg);
		opacity: 0;
	}
}

@keyframes flip-out-ver-left {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateY(-70deg);
		transform: rotateY(-70deg);
		opacity: 0;
	}
}

/********************** LIST OF ANIMATED FONT EFFECTS **************************/
@keyframes moving-background {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 1080px 0px;
	}
}

@keyframes moving-background-right {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 1920px 0px;
	}
}

@keyframes moving-background-down {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 0 1080px;
	}
}

@keyframes grunge-background-right {
	0% {
		background-position-y: 0px;
	}

	100% {
		background-position-x: 500px;
		background-position-y: 0px;
	}
}

@keyframes blurring-background {
	0% {
		-webkit-filter: blur(0px);
		background-position-y: 0px;
	}

	50% {
		-webkit-filter: blur(5px);
		background-position-y: 350px;
	}

	99% {
		-webkit-filter: blur(1px);
		background-position-y: 700px;
	}

	100% {
		-webkit-filter: blur(7px);
		background-position-y: 0px;
	}
}


@keyframes moving-colors {
	0% {
		-webkit-filter: hue-rotate(0deg);
	}

	100% {
		-webkit-filter: hue-rotate(360deg);
	}
}

@keyframes rotate-background {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

/**
* ----------------------------------------
* animation shake-top
* ----------------------------------------
*/
@-webkit-keyframes shake-top {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}

	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}

	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}


/**
* ----------------------------------------
* animation shake-horizontal
* ----------------------------------------
*/
@-webkit-keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}

	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}

	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}

/**
* ----------------------------------------
* animation shake-bottom
* ----------------------------------------
*/
@-webkit-keyframes shake-bottom {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}

	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}

/**
* ----------------------------------------
* animation flash
* ----------------------------------------
*/
@-webkit-keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}


/**
* ----------------------------------------
* animation pulse
* ----------------------------------------
*/
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


/**
* ----------------------------------------
* animation flip-horizontal-top
* ----------------------------------------
*/
@-webkit-keyframes flip-horizontal-top {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}

	100% {
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
}

@keyframes flip-horizontal-top {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}

	100% {
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
}

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	100% {
		-webkit-transform: translateZ(160px);
		transform: translateZ(160px);
	}
}

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.75);
	}
}


/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}


/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-2 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	20% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	40% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	60% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	80% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}


/**
 * ----------------------------------------
 * animation vibrate-3
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-3 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	10% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	20% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	30% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	40% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	50% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	60% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	70% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	80% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	90% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/* ----------------------------------------------
* Generated by Animista on 2018-12-9 15:45:34
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation vibrate-3
* ----------------------------------------
*/
@-webkit-keyframes vibrate-3 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	10% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	20% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	30% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	40% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	50% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	60% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	70% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	80% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	90% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes vibrate-3 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	10% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	20% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	30% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	40% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	50% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	60% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	70% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	80% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	90% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/**
* ----------------------------------------
* animation ping
* ----------------------------------------
*/
@-webkit-keyframes ping {
	0% {
		-webkit-transform: scale(0.2);
		transform: scale(0.2);
		opacity: 0.8;
	}

	80% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
		opacity: 0;
	}
}

/**
 * ----------------------------------------
 * animation roll-out-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-out-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(1000px) rotate(540deg);
		transform: translateX(1000px) rotate(540deg);
		opacity: 0;
	}
}

/**
* ----------------------------------------
* animation focus-in-expand
* ----------------------------------------
*/
@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation focus-in-contract-bck
* ----------------------------------------
*/
@-webkit-keyframes focus-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(12px);
		transform: translateZ(12px);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation text-blur-out
* ----------------------------------------
*/
@-webkit-keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

/**
* ----------------------------------------
* @animation text-shadow-drop-center
* ----------------------------------------
*/
@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

@keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}


/**
* ----------------------------------------
* @animation breathing-scale
* ----------------------------------------
*/
@keyframes breathing-scale {
	0% {
		transform: scale(1);
	}

	20% {
		transform: scale(1.03);
	}

	40% {
		transform: scale(1.015);
	}

	60% {
		transform: scale(1.09) rotate(0.7deg);
	}

	75% {
		transform: scale(1.01) rotate(0deg);
	}

	90% {
		transform: scale(1.12);
	}

	100% {
		transform: scale(1);
	}
}


/**
* ----------------------------------------
* @animation slight-rotation
* ----------------------------------------
*/
@keyframes slight-rotation {
	0% {
		transform: scale(1.5) rotate(0deg);
	}

	10% {
		transform: scale(1.5) rotate(5deg);
	}

	20% {
		transform: scale(1.5) rotate(-3deg);
	}

	21% {
		transform: scale(1.5) rotate(-2.8deg);
	}

	24% {
		transform: scale(1.5) rotate(-3.2deg);
	}

	30% {
		transform: rotate(4deg);
	}

	40% {
		transform: rotate(-9deg);
	}

	50% {
		transform: rotate(12deg);
	}

	60% {
		transform: rotate(-5deg);
	}

	70% {
		transform: rotate(3deg);
	}

	80% {
		transform: rotate(-3deg);
	}

	90% {
		transform: rotate(2deg);
	}

	100% {
		transform: scale(1.5) rotate(0deg);
	}
}

/**
* ----------------------------------------
* @animation breathing-opacity
* ----------------------------------------
*/
@keyframes breathing-opacity {
	0% {
		opacity: 1;
	}

	7% {
		opacity: 0.3;
	}

	20% {
		opacity: 0.75;
	}

	30% {
		opacity: 0.4;
	}

	30.5% {
		opacity: 0.9;
	}

	33% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.1;
	}

	60% {
		opacity: 0.4;
	}

	70.5% {
		opacity: 0.2;
	}

	83% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

/**
* ----------------------------------------
* @animation minimal-blur
* ----------------------------------------
*/

@keyframes full-circle-rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/**
* ----------------------------------------
* @animation minimal-blur
* ----------------------------------------
*/
@keyframes minimal-blur {
	0% {
		filter: blur(0px);
	}

	50% {
		filter: blur(2px);
	}

	100% {
		filter: blur(0px);
	}
}


/**
* ----------------------------------------
* @animation grey-to-color
* ----------------------------------------
*/
@keyframes gray-to-color {
	0% {
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

	100% {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
	}
}

/**
* ----------------------------------------
* @animation text-color-change
* ----------------------------------------
*/
@keyframes text-color-change {
	0% { color: #2e4468; }

	33% { color: #3c763d; }

	66% { color: #ca5800; }

	100% { color: #2e4468; }
}

/**
* ----------------------------------------
* animation rotate-in-center
* ----------------------------------------
*/
@-webkit-keyframes rotate-in-center {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation rotate-in-hor
* ----------------------------------------
*/
@-webkit-keyframes rotate-in-hor {
	0% {
		-webkit-transform: rotateX(360deg);
		transform: rotateX(360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation rotate-in-ver
* ----------------------------------------
*/
@-webkit-keyframes rotate-in-ver {
	0% {
		-webkit-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation swirl-in-fwd
* ----------------------------------------
*/
@-webkit-keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}


/**
* ----------------------------------------
* animation roll-in-left
* ----------------------------------------
*/
@-webkit-keyframes roll-in-left {
	0% {
		-webkit-transform: translateX(-800px) rotate(-540deg);
		transform: translateX(-800px) rotate(-540deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}


/**
* ----------------------------------------
* animation roll-in-right
* ----------------------------------------
*/
@-webkit-keyframes roll-in-right {
	0% {
		-webkit-transform: translateX(800px) rotate(540deg);
		transform: translateX(800px) rotate(540deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}


/**
* ----------------------------------------
* animation swing-in-top-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-in-top-fwd {
	0% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation swing-out-top-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-out-top-fwd {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateX(70deg);
		transform: rotateX(70deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}

@keyframes swing-out-top-fwd {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}

	100% {
		-webkit-transform: rotateX(70deg);
		transform: rotateX(70deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}


/**
* ----------------------------------------
* animation swing-in-right-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-in-right-fwd {
	0% {
		-webkit-transform: rotateY(-100deg);
		transform: rotateY(-100deg);
		-webkit-transform-origin: right;
		transform-origin: right;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: right;
		transform-origin: right;
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation swing-in-bottom-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-in-bottom-fwd {
	0% {
		-webkit-transform: rotateX(100deg);
		transform: rotateX(100deg);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 1;
	}
}

/**
* ----------------------------------------
* animation flip-scale-up-hor
* ----------------------------------------
*/
@-webkit-keyframes flip-scale-up-hor {
	0% {
		-webkit-transform: scale(1) rotateX(0);
		transform: scale(1) rotateX(0);
	}

	50% {
		-webkit-transform: scale(2.5) rotateX(-90deg);
		transform: scale(2.5) rotateX(-90deg);
	}

	100% {
		-webkit-transform: scale(1) rotateX(-180deg);
		transform: scale(1) rotateX(-180deg);
	}
}
