.queue-panel {
	animation: anim-scale-up 0.6s forwards;
	max-width: 1200px;
	height: 100%;
	width: 100%;
}

.queue-table {
	font-family: "Open Sans Condensed", sans-serif;
}

.queue-table-pic {
	width: 36px;
	height: 36px;
	transition: transform 0.2s;
	border: solid 1px darkgray;
	border-radius: 0.25rem;
	cursor: zoom-in;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.queue-table-pic:hover {
	position: fixed;
	transform: scale(2.5);
	filter: blur(0px);
	-webkit-filter: blur(0px);
}

.queue-table-name {
	color: transparent;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.queue-table-name:hover {
	color: inherit;
	text-shadow: none;
}
