.sunburst {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	margin-top: 10px;
}

.sunburst-sequence {
	width: 100%;
	height: 70px;
}

.sunburst-sequence text {
	font-weight: 600;
	fill: #fff;
}

.sunburst-chart {
	position: relative;
}

.sunburst-chart path {
	stroke: #fff;
}

.sunburst-explanation {
	position: absolute;
	pointer-events: none;
	left: 0;
	right: 0;
	margin: auto;
	top: 45%;
	width: 140px;
	text-align: center;
	color: #666;
}

.sunburst-percentage {
	font-size: 1.5em;
}
