.line-wrapper {
	position: relative;
	padding: 2px;
	border: solid 1px transparent;
}

.line-wrapper:hover {
	border: solid 1px #D16B47;
}

.line-wrapper-bar {
	font-size: 14px;
	background: #D16B47;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10000;
	border-bottom-left-radius: 10px;
	padding-left: 6px;
	padding-bottom: 2px;
	width: max-content;
	display: none;
	vertical-align: top;
	opacity: 0.8;
}

.line-wrapper:hover > .line-wrapper-bar {
	display: inherit;
}

.line-wrapper-open-configurator,
.line-wrapper-delete {
	background-color: #F1F176;
	cursor: pointer;
	margin-left: 2px;
	padding: 2px;
}

.line-wrapper-open-configurator:hover,
.line-wrapper-delete:hover {
	color: #D16B47;
}

.line-wrapper-tagname {
	color: #F1F176;
	font-weight: 700;
	font-size: 12px;
	user-select: none;
}

.line-wrapper-contextmenu {
	font-size: 1.5em !important;
}
