.markdown-helper {
	position: fixed;
	box-shadow: 0 0 4px black;
	width: 40%;
	left: 58%;
	top: 14%;
}

.markdown-helper h1 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 800;
	margin-bottom: 10px;
}
