.plotly-draggable-bar {
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 2;
	width: 130px;
	height: 26px;
	background-color: rgba(200, 200, 200, 0.5);
	color: black;
	letter-spacing: 4px;
	text-align: center;
	cursor: move;
	padding: 0.1rem 0.3rem;
	border: 0;
	-webkit-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}

.plotly-draggable-bar:hover {
	background-color: rgba(22, 8, 8, 0.8);
	color: white;
	opacity: 0.9;
}

.plotly-draggable * .modebar {
	left: 130px;
}

.plotly-container {
	position: relative;
}

.plotly-style-menu {
	min-width: 350px;
	min-height: 400px;
	background-color: gainsboro;
	box-shadow: 0 0 10px darkslategray;
	position: absolute;
	top: 12px;
	right: 20%;
	z-index: 2001;
}

.plotly-style-menu-header {
	padding-left: 8px;
	padding-top: 4px;
}

.plotly-style-menu-close-button {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 28px;
}
