.isle-image {
	cursor: zoom-in;
	margin-top: 12px;
	margin-bottom: 12px;
}

.isle-image:hover {
	box-shadow: 3px 3px 1px lightcoral;
	transition: box-shadow 0.2s linear;
}

.react-viewer-canvas {
	background-color: white;
}

.react-viewer-attribute {
	color: black;
}
