
.video-chat-panel {
	width: fit-content;
	position: fixed;
	z-index: 1004;
	top: 10px;
	left: 10px;
}

.video-chat-button {
	position: fixed;
	top: 0px;
	left: 0px;
}

.video-chat-minimized-button {
	position: fixed;
	top: 0px;
	right: 0px;
}
