.speech_recognition {
    width: 100%;
    height: 32px;
}


.speech_recognition_text {
    width: calc(100% - 80px);
    height: 40px;
    background: white;
    float: left;
    border:solid 1px gray;
    padding-left: 8px;
    padding-top: 6px;
}

.microphone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: pink;
    box-shadow: 1px 1px 4px black;
    float: right;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 4px black;
    cursor: pointer;
    margin-right: 20px;
}

.microphone:hover {
    background: red;
}

.isRecording {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    box-shadow: 1px 1px 4px black;
    float: right;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 4px black;
    cursor: pointer;
    margin-right: 20px;
}