.slider-outer-div {
	margin-bottom: 4px;
	margin-top: 4px;
	clear: both;
}

.slider-number-input {
	width: 80px;
	margin-right: 8px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 4px;
	background: rgba(186, 204, 234, 0.3);
	border: solid 1px darkgrey;
	border-radius: 2px;
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 2px;
	color: rgb(92, 92, 92);
	box-shadow: inset 1px 1px 4px  rgba(186, 204, 234, 1);
}

.slider-number-input:hover {
	background: rgba(186, 204, 234, 0.65);
}

.slider-number-input:focus {
	background: rgba(204, 88, 0, 0.16);
	box-shadow: none;
}

.slider-range-input {
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 8px;
}
