.data-explorer-output {
	padding: 0;
}

.data-explorer-questions {
	margin: 0;
	padding: 0;
}

.data-explorer-navbar {
	font-size: 18px;
	color: #2e4468;
	font-weight: 600;
	background: rgba(176, 192, 222, 0.15);
	margin-bottom: 0px;
}

.data-explorer-output-header {
	font-size: 1.75rem;
	color: #2e4468;
	font-weight: 600;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

.data-explorer-fullscreen-output {
	position: relative;
	font-size: 32px;
	overflow: scroll;
	width: 100%;
}

.data-explorer-fullscreen-output .btn {
	display: none;
}

.data-explorer-subset-filter-display {
	background: lightcoral;
	width: 100%;
	padding: 4px;
}

.data-explorer-toolbox {
	z-index: 1004;
	min-width: 500px;
	font-size: 1rem;
	text-align: left;
}

.data-explorer-draggable-bar {
	position: absolute;
	z-index: 2;
	width: 160px;
	font-size: 16px;
	height: 26px;
	background-color: rgba(200, 200, 200, 0.5);
	opacity: 0.6;
	color: black;
	letter-spacing: 4px;
	text-align: center;
	cursor: move;
	padding: 0.3rem 0.3rem;
	border: 0;
}

.data-explorer-draggable-bar:hover {
	background-color: rgba(22, 8, 8, 0.8);
	color: white;
	opacity: 0.9;
}

.data-explorer-output-panel {
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	font-size: 1rem;
}

.data-explorer-output-panel pre {
	position: relative;
}

.hide-toolbox-button {
	position: absolute;
	right: 20px;
}

.question-button {
	float: right;
	padding: 0rem 0.4rem;
}

.data-explorer-toolbox-header {
	height: 55px;
	cursor: move;
}

.data-explorer-toolbox-title {
	position: absolute;
	left: 20px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.data-explorer-toolbox-body {
	padding-bottom: 0;
	overflow-y: auto;
	max-height: 90vh;
}
