.line-buttons {
	position: absolute;
	left: 2px;
	opacity: 1;
	color: rgb(235, 97, 62);
	z-index: 1051;
}

.line-buttons-jump {
	position: absolute;
	left: 0px;
	top: 20px;
}

.line-buttons-contextmenu {
	position: absolute;
	left: 0px;
	top: 0px;
}
