.line-buttons {
	color: rgb(235, 97, 62);
	opacity: 1;
	z-index: 1051;
	font-size: 13px;
	padding: 1px;
	cursor: pointer;
}

.line-buttons-jump {
	position: absolute;
	left: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

.line-buttons-contextmenu {
	position: absolute;
	left: 50%;
	padding: 3px;
}

.line-buttons-contextmenu:hover,
.line-buttons-jump:hover {
	background: #F1F176;
	border-radius: 39px;
}

.line-buttons-line-display {
	margin-left: 3px;
}
