.line-buttons {
	opacity: 1;
	color: rgb(235, 97, 62);
	z-index: 1051;
	font-size: 13px;
	padding: 1px;
}

.line-buttons-jump {
	position: absolute;
	left: 5px;
}

.line-buttons-contextmenu {
	position: absolute;
	left: 50%;
}
