.video-lecture-back-button {
	left: 0;
	top: 0;
	bottom: 0;
	width: 10%;
	height: 40%;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	margin: auto;
	transition: all 0.7s;
	cursor: pointer;
}

.video-lecture-back-button:hover {
	opacity: 1;
}

.video-lecture-next-button {
	right: 0;
	top: 0;
	bottom: 0;
	width: 10%;
	height: 40%;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	margin: auto;
	transition: all 0.7s;
	cursor: pointer;
}

.video-lecture-next-button:hover {
	opacity: 1;
}

.video-lecture-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 92px;
	text-align: center;
	width: 100%;
	height: 92px;
}

.visible-step {
	display: inline;
}

.invisible-step {
	display: none;
}

.video-lecture-wrapper {
	position: relative;
}

.video-lecture-end-alert {
	margin-top: 30vh;
	height: fit-content;
	max-width: 900px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.video-lecture-content {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.video-lecture-instructor-button {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
