.page {
	background: white;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border: 1px solid  rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(92,92,92, 0.5);
}

.my-pagination {
	margin: 15px 0;
	padding-left: 15px;
	font-weight: 600;
}

.page-children-wrapper {
	overflow-y: scroll;
	padding: 5px;
	border-width: 1px 0px 0px 0px;
	border-color: transparent;
	border-style: solid;
	background: transparent;
}
