.login-modal {
	position: fixed;
	top: 20%;
	height: auto;
	left: 0;
	right: 0;
	margin: auto;
}

.forgot-password-button {
	float: left;
	margin-top: 0px;
	background: none;
	border: none;
	cursor: pointer;
}

.forgot-password-button:hover {
	color: #2e4468;
}
