.article-container {
	position: fixed;
	height: min-content;
	left: 50%;
	top: 10%;
	overflow: hidden;
	z-index: 999;
}

.article-header {
	float: left;
	font-family: "Times New Roman";
	font-size: 40px;
	text-shadow: 2px 2px 2px darkgray;
	margin-right: 50px;
}

.articles {
	position: relative;
	height: 500px;
	overflow: auto;
	z-index: 1;
}

.articles-exit {
	float: left;
	margin-left: 80px;
	margin-top: 10px;
}

.articles-exit:hover {
	color: black;
}

.article-author {
	width: 90%;
	font-family: Open Sans;
	color: darkcyan;
	margin-top: 10px;
	margin-left: 5%;
	font-size: 17px;
	font-stretch: ultra-condensed;
	font-weight: 600;
}

.article-title {
	width: 90%;
	font-family: Open Sans;
	font-weight: 800;
	color: darkcyan;
	margin-top: 3px;
	margin-left: 5%;
	font-size: 22px;
	font-stretch: ultra-condensed;
	margin-bottom: 24px;
}

.article-description {
	width: 90%;
	font-family: Open Sans;
	color: black;
	margin-top: 10px;
	margin-left: 5%;
	font-size: 17px;
	margin-bottom: 60px;
	font-stretch: ultra-condensed;
}

.article-source {
	font-family: Open Sans;
	color: black;
	font-size: 14px;
	font-stretch: ultra-condensed;
	width: 95%;
	margin-bottom: 8px;
	text-align: right;
}

.article {
	width: 98%;
	height: auto;
	background: #fafaff;
	float: right;
	margin-right: 2%;
	margin-bottom: 30px;
	border: 1px solid rgba(92, 92, 92, 0.3);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92, 92, 92, 0.5);
}

.article img {
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 0 4px black;
}
