.language-switcher {
	position: fixed;
	bottom: 6px;
	right: 6px;
	font-size: 18px;
	color: #c95d0a;
	border: none;
	background: none;
	cursor: pointer;
	transform: scale(1);
}

.language-switcher:hover {
	transform: scale(1.2);
}

.language-switcher-notification {
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 8px;
	position: fixed;
	z-index: 999;
	left: 1%;
	top: 2%;
}
