#header-lower-bar {
	background-color: #E8E8E8;
	height: 40px;
	min-height: 40px;
	color: #373D49;
	display: flex;
	align-items: center;
	padding: 5px;
	justify-content: space-between;
}

#header-preview-button {
	padding-top: 4px;
	margin-left: 25px;
}

#change-only-mode {
	margin-left: 25px;
}
