.data-table-header-toolbar {
	width: 100%;
	padding-bottom: 6px;
	display: inline-block;
}

.data-table-title {
	display: inline-block;
	background: rgba(0, 0, 0, 0.05);
	border-color: #0000004d;
	width: calc(100% - 88px);
	height: 42.5px;
	font-size: 21px;
	letter-spacing: 2.5px;
	text-align: center;
	color: #ca5800;
	font-weight: 600;
	font-family: "Open Sans Condensed", sans-serif;
}

.save-button {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: none;
	border-color: #0000004d;
	color: var(--quartary);
	font-size: 19px;
}

.delete-button {
	color: #dc3545;
	margin-left: 4px;
	border: 1px solid #dc3545;
	background: none;
}

.delete-button:hover {
	color: #ca5800;
	border: 1px solid #ca5800;
}

.help-button {
	color: var(--quartary);
	box-shadow: none;
	background: rgba(0, 0, 0, 0.05);
	border-color: #0000004d;
	font-size: 19px;
	letter-spacing: 2.5px;
}

.help-button:hover {
	color: var(--quartary);
}

.label-number-rows {
	display: block;
	font-size: 16px;
	text-align: center;
}

.description-button {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: none;
	border-color: #0000004d;
	float: left;
}

.reset-button {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: none;
	border-color: #0000004d;
	float: right;
	margin-left: 4px;
}

.num-rows-badge {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: none;
	border: 1px solid transparent;
	border-color: #0000004d;
	float: right;
	font-weight: 400;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

.data-table-header-wrapper {
	padding-bottom: 8px;
}

.data-table-wrapper {
	font-size: 12px;
	margin-bottom: 17px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.draggable-header {
	display: block;
}

.header-text-input {
	background: transparent;
	border: none;
	display: inline-block;
	cursor: text;
}

[draggable="true"] {
	-khtml-user-drag: element;
}
