.Lesson .ReactTable {
	height: 65vh;
	background: white;
	border: 1px solid  rgba(92, 92, 92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92, 92, 92, 0.5);
	margin-bottom: 15px;
	width: 100%;
}

.Lesson .rt-table {
	overflow: hidden !important;
}

.Lesson .rt-tbody {
	min-width: 0px !important;
}

.Lesson .rt-thead {
	min-width: 0px !important;
	overflow: hidden;
}

.Lesson .rt-thead.-header {
	font-size: 18px;
	font-family: "Open Sans Condensed";
}

.Lesson .rt-thead::-webkit-scrollbar {
	background: transparent;
}

.Lesson .ReactTable .rt-tbody .rt-td {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.Lesson .ReactTable .rt-tbody .rt-tr-group {
	border-bottom: none;
}

.Lesson .ReactTable .rt-thead.-filters .rt-th {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.Lesson .frozen {
	order: -1;
	position: relative;
	left: 0;
	background: rgb(235, 235, 235);
	z-index: 10;
}

.Lesson .table_last_col {
	width: 10px !important;
}
