.spectacle-deck {
	font-size: 14px;
	width: 100%;
	height: 100%;
}

.presenter-mode-button {
	position: fixed;
	top: 4px;
	left: 35px;
	font-size: 1.5em;
	color: #c95d0a;
	z-index: 3;
	cursor: pointer;
	transition: 300ms transform ease;
}

.overview-mode-button {
	position: fixed;
	top: 9px;
	left: 4px;
	font-size: 1.25em;
	color: #c95d0a;
	z-index: 3;
	cursor: pointer;
	transition: 300ms transform ease;
}

.presenter-mode-button:hover,
.overview-mode-button:hover {
	transform: scale(1.25);
}

.spectacle-content h1 {
	font-size: 5em;
	line-height: 1;
	text-align: center;
	margin: 0.5rem auto;
	text-shadow: 0 1px 2px darkslategray;
	zoom: 1;
}

.spectacle-content h2 {
	font-size: 4em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 2px darkslategray;
	margin: 0.5em auto;
}

.spectacle-overview-container {
	font-size: 8px;
}

.spectacle-content h3 {
	font-size: 3.5em;
	text-align: center;
	line-height: 1;
	margin: 0.5em auto;
}

.spectacle-content h4 {
	font-size: 3em;
	line-height: 1;
	text-align: center;
	margin: 0.5em auto;
}

.spectacle-content h5 {
	font-size: 2.5em;
	line-height: 1;
	margin: 0.5rem auto;
}

.spectacle-content h6 {
	font-size: 2em;
	line-height: 1;
	margin: 0.5em auto;
}

.spectacle-content > p,
.spectacle-content > .line-wrapper > p {
	color: black;
	font-size: 2em;
	margin: 0.25em auto;
	text-align: left;
}
