.recorder-container {
	position: fixed;
	right: 2%;
	top: 5px;
	height: auto;
	text-align: right;
	min-width: 120px;
	z-index: 1002;
	box-shadow: 2px 2px 10px black;
	cursor: default;
}

.recorder-togglebutton {
	box-shadow: none !important;
	color: gray;
}

.recorder-togglebutton.active {
	color: black;
}

.recorder-button-container {
	position: absolute;
	border-radius: 15px;
	margin-right: 10px;
	color: rgba(0, 0, 0, 1);
	border: solid 4px rgb(70, 70, 70);
	top: 7px;
	width: 30px;
	height: 30px;
	right: 30px;
}

.recorder-button-container:hover {
	border: solid 4px black;
}

.recorder-rec {
	font-family: Arial;
	font-size: 30px;
	font-weight: 800;
	padding-right: 80px;
	background: rgba(0, 80, 255, 0.5);
}

.recorder-button {
	position: absolute;
	border-radius: 8px;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 3px;
	cursor: pointer;
	background: none;
}

.recorder-rec:hover {
	color: green;
}

#install-button {
	padding: 0;
	background: none;
	height: 36px;
	vertical-align: middle;
	cursor: pointer;
}
