.match-list-question-container {
	display: flex;
	width: 100%;
	padding: 15px;
	background-color: white;
	flex-direction: column;
	max-width: 650px;
	border: 1px solid  rgba(92,92,92,0.6);
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(92,92,92,0.5);
	margin-bottom: 15px;
}

.match-list-question-container .question {
	font-stretch: extra-expanded;
	font-weight: 500;
	color: #2e4468;
	text-shadow: 0 0 0.1px rgba(92,92,92,0.5);
}

.match-list-question-lists {
	display: flex;
	flex-direction: row;
}

.match-list-question-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}
