.pages {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page {
	background: white;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border: 1px solid rgba(92, 92, 92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(92, 92, 92, 0.5);
}

.my-pagination {
	margin: 15px 0;
	padding-left: 15px;
	font-weight: 600;
}

.page-link {
	color: #0273eb;
	padding: 0.75rem 1rem;
	background-color: #fff;
	border: 1.25px solid #dee2e6;
}

.page-children-wrapper {
	overflow-y: scroll;
	padding: 5px;
	border-color: rgba(0, 0, 0, 0.125);
	border-style: solid;
	background: transparent;
}

.visible-page {
	display: inline;
}

.invisible-page {
	display: none;
}
