.spectacle-deck {
	font-size: 14px;
	width: 100%;
	height: 100%;
}

.presenter-mode-button {
	position: fixed;
	top: 4px;
	left: 37px;
	font-size: 1.5em;
	color: #c95d0a;
	z-index: 3;
	cursor: pointer;
	transition: 300ms transform ease;
}

.overview-mode-button {
	position: fixed;
	top: 9px;
	left: 6px;
	font-size: 1.25em;
	color: #c95d0a;
	z-index: 3;
	cursor: pointer;
	transition: 300ms transform ease;
}

.presenter-mode-button:hover,
.overview-mode-button:hover {
	transform: scale(1.25);
}

.spectacle-content > h1,
.spectacle-content > .line-wrapper > h1 {
	font-size: 5em;
	line-height: 1;
	text-align: center;
	margin: 0.5rem auto;
	text-shadow: 0 1px 2px darkslategray;
	zoom: 1;
}

.spectacle-content > h2,
.spectacle-content > .line-wrapper > h2 {
	font-size: 4em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 2px darkslategray;
	margin: 0.5em auto;
}

.spectacle-overview-container {
	font-size: 8px;
}

.spectacle-presenter-container {
	font-size: 12px;
}

.spectacle-content > h3,
.spectacle-content > .line-wrapper > h3 {
	font-size: 3.5em;
	text-align: center;
	line-height: 1;
	margin: 0.5em auto;
}

.spectacle-content > h4,
.spectacle-content > .line-wrapper > h4 {
	font-size: 3em;
	line-height: 1;
	text-align: center;
	margin: 0.5em auto;
}

.spectacle-content > h5,
.spectacle-content > .line-wrapper > h5 {
	font-size: 2.5em;
	line-height: 1;
	margin: 0.5rem auto;
}

.spectacle-content > h6,
.spectacle-content > .line-wrapper > h6 {
	font-size: 2em;
	line-height: 1;
	margin: 0.5em auto;
}

.spectacle-content > p,
.spectacle-content > .line-wrapper > p {
	color: black;
	font-size: 2em;
	margin: 0.25em auto;
	text-align: left;
}

.spectacle-notes-wrapper {
	background-color: white;
	display: flex;
	justify-content: center;
	flex: 1 0 auto;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
}

.spectacle-slide-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.spectacle-overview-container .spectacle-slide-wrapper {
	box-shadow: inset 0 0 2px black;
}

.spectacle-with-notes-container {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 30px;
}

.spectacle-with-notes-slide {
	width: 100%;
	flex: 1 1 70%;
}

.spectacle-content ol,
.spectacle-content ul {
	font-size: 2rem;
}

.spectacle-content > ol,
.spectacle-content > .line-wrapper > ol,
.spectacle-content > .line-wrapper > .line-wrapper > ol,
.spectacle-content > ul,
.spectacle-content > .line-wrapper > ul,
.spectacle-content > .line-wrapper > .line-wrapper > ul {
	text-align: left;
	padding-left: 1em;
}
