.Lesson > .typewriter,
.Lesson > .outer-element > .typewriter,
.Lesson > .outer-element > .outer-element > .typewriter,
.Lesson > .outer-element > .outer-element > .outer-element > .typewriter {
	display: block;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
