.isle-image {
	cursor: pointer;
	margin-top: 12px;
	margin-bottom: 12px;
}

.isle-image:hover {
	box-shadow: 3px 3px 1px lightcoral;
	transition: box-shadow 0.2s linear;
}

.react-viewer-canvas {
	background: white;
}

.react-viewer-attribute {
	color: black;
}

.isle-image-picker {
	top: 2px;
	left: 10px;
	position: absolute;
	z-index: 9999;
	background-color: white;
}
