.sketch-panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.sketch-header {
	font-size: 22px;
	color: #2e4468;
	font-weight: 600;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.sketch-button-group {
	margin-top: 1px;
	margin-left: 5px;
}

.sketch-drawing-buttons {
	margin-top: 5px;
	margin-left: 5px;
}

.sketch-pages {
	cursor: default;
	margin-left: 15px;
	margin-top: 1px;
}

.sketch-input-group {
	width: 100px;
	display: inline-table;
}

.sketch-text-input {
	position: fixed;
	background: transparent;
	border: none;
}

.sketch-text-input:focus{
	outline: none;
}

.sketch-node-container {
	position: absolute;
	left: 50%;
	top: 3%;
	transform: translate(-50%);
	z-index: 2;
}
