.sketch-header {
	font-size: 24px;
	color: #2e4468;
	font-weight: 600;
	margin-bottom: 0px;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

.sketch-pages {
	cursor: default;
	float: left;
	margin-left: 15px;
	margin-top: 3px;
}

.sketch-input-group {
	width: 100px;
	display: inline-table;
	margin-left: 12px;
}
