:root {
	--bg: rgba(15, 112, 91, 0.9);
	--bgopac: rgba(15,112,91, 0.66);
	--bgdark: rgba(6, 41, 33, 0.9);
	--bgopachover:rgba(235, 185, 20, 0.9);
	--primary: #2e4468;
	--primarydark: #4a618691;
	--primaryhalf: #526c96;
	--primarylight: #2e4468af;
	--primarysuperlight: #2e4468;
	--secondary: #3c763d;
	--secondarymedium: #2b552c;
	--secondarydark: #162c17;
	--secondarylight:#77df79;
	--secondaryhalf: #54a857;
	--tertiary: #2e4468;
	--tertiarylight: #7285a3;
	--quartary: #ca5800;
	--quartarydark: #351802;
	--quartarylight: #c49978;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
}


@-webkit-keyframes i-rotating {
	from {
		-webkit-transform: rotate(360deg);
	}

	to {
		-webkit-transform: rotate(0deg);
	}
}

.i-rotating {
	-webkit-animation: i-rotating 5s linear infinite;
}

.score {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 160px;
	height: 160px;
	z-index: 100;
	background: var(--bgopac);
	border-radius: 50%;
	box-shadow: 1px 1px 5px var(--bgdark);
	overflow: hidden;
	transform-origin: bottom center;
	transform: scale(0.72); /* Equal to scaleX(2) scaleY(0.5) */
	transition: all 0.4s ease-in-out;
}

.score:hover {
	transform: scale(1); /* Equal to scaleX(2) scaleY(0.5) */
}

.score-header {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	right: 0;
	top: 9px;
	font-size: 18px;
	font-weight: 800;
	font-variant-caps: all-petite-caps;
	margin: auto;
	color: var(--bgdark);
	text-align: center;
}


.score-timer {
	position: absolute;
	font-family: Oswald;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 12px;
	width: 100%;
	height: 24px;
	color: var(--bgdark);
	font-size: 16px;
	text-align: center;
	z-index: 2;
}

.score-outer-circle2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-left: solid 2px var(--bg);
	width: 90%;
	height: 90%;
}

.score-outer-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-right: solid 3px white;
	width: 90%;
	height: 90%;
}

.score-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border: solid 1px white;
	width: 90px;
	height: 90px;
}

.score-half-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-right: solid 3px white;
	width: 96px;
	height: 96px;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}

.score-points {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	text-align: center;
	font-family: Georgia;
	text-shadow: 0 0 2px white;
	color: white;
	background: var(--bg);
	font-size: 40px;
}

.score-points:hover {
	opacity: 1;
}

.score-bottom {
	position: fixed;
	bottom: 6px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	max-width: 300px;
	height: 70px;
	z-index: 100;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	border: solid 1px var(--bgdark);
	box-shadow: 0 0 9px var(--bgdark);
	overflow: hidden;
	transform-origin: bottom center;
	transform: scale(0.72); /* Equal to scaleX(2) scaleY(0.5) */
	transition: all 0.4s ease-in-out;
	background: var(--bg);
	background-image: url(https://isle.heinz.cmu.edu/sublime01_1543690264803.png);
}

.score-bottom-time {
	position: absolute;
	color: black;
	left: 6px;
	top: 7px;
	font-size: 18px;
	font-family: Open Sans;
	font-weight: 600;
	z-index: 10;
}

.score-bottom-legend {
	position: absolute;
	left: 146px;
	font-weight: 600;
	top: 9px;
	color: black;
	font-size: 18px;
}

.score-bottom-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, rgba(0, 200, 166, 0.7), darkgray);
	opacity: 0.3;
}

.score-bottom-text {
	position: absolute;
	right: 15px;
	top: 0;
	width: 50%;
	height: 100%;
	text-align: right;
	font-family: Open Sans;
	font-weight: 800;
	font-size: 40px;
	color: white;
}

@-webkit-keyframes moving {
	from {
		-webkit-transform: translate(-400px, 0px);
	}

	to {
		-webkit-transform: translate(400px, 0px);
	}
}

.moving {
	-webkit-animation: moving 3s linear infinite;
}

.score-bottom-line {
	position: absolute;
	width: 200%;
	height: 3px;
	background-image: linear-gradient(to right, transparent, black, white, transparent);
	left: -50%;
	bottom: 7px;
	transform-origin: bottom left;
}

.score-full {
	position: fixed;
	bottom: 21px;
	right: 0;
	width: 400px;
	height: 100px;
	background: var(--primarylight);
	z-index: 100;
	transition: all 0.8s ease-in-out;
	border: solid 1px darkslategray;
}

.score-full:hover {
	background: var(--primaryhalf);
}

.score-full-hidden {
	right: -400px;
	transition: right 0.8s ease-in-out;
}

.score-full-handler {
	position: absolute;
	left: -30px;
	top: 30px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid orange;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	transform-origin: center center;
}

.score-full-handler:hover {
	border-right: 20px solid red;
}

.circle {
	position: absolute;
	left: -30px;
	top: 30px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
	border-left: 20px solid orange;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	transform-origin: center center;
}

.circle:hover {
	border-right: 20px solid transparent;
	border-left: 20px solid red;
}

.score-full-score {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 10px;
	left: 100px;
}

.score-full-header {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	right: 0;
	top: 0px;
	font-size: 22px;
	font-weight: 300;
	font-variant-caps: all-petite-caps;
	margin: auto;
	color: white;
	font-family: Open Sans Condensed;
	text-align: center;
}


.score-full-score-points {
	position: absolute;
	top: 0;
	bottom: 4px;
	left: 2px;
	right: 0;
	margin: auto;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	text-align: center;
	font-family: Open Sans Condensed;
	text-shadow: 0 0 2px white;
	color: white;
	font-size: 40px;
}


.score-full-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border: solid 1px white;
	width: 82px;
	height: 82px;
}

.score-full-outer-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-left: solid 2px white;
	width: 90%;
	height: 90%;
}


.score-full-half-circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-right: solid 3px white;
	width: 80px;
	height: 80px;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}

.score-full-progressbar {
	position: absolute;
	left: 0px;
	top: 99px;
	height: 22px;
	width: calc(100% + 2px);
	background: black;
}

.score-user-info {
	position: absolute;
	width: 130px;
	height: 100px;
}

.portrait-default {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 76px;
	height: 76px;
	background: grey;
}

.portrait-default img {
	width: 100%;
	height: 100%;
	opacity: 0.85;
	border: solid 2px white;
	-webkit-filter: contrast(150%) saturate(40%); /* Safari */
	filter: contrast(150%) saturate(40%);
	transition: all 1.4s ease-in-out;
}

.portrait-default img:hover {
	opacity: 1;
	-webkit-filter: contrast(100%) saturate(100%); /* Safari */
	filter: contrast(100%) saturate(100%);
}

.portrait-username {
	position: absolute;
	left: 2px;
	font-family: Open Sans Condensed;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
	bottom: 1px;
	color: white;
	font-variant-caps: petite-caps;
}

.date-default {
	position: absolute;
	left: 270px;
	top: 0;
	width: 110px;
	height: 100px;
	font-family: Open Sans Condensed;
}

.date-default-clock {
	position: absolute;
	width: 100%;
	height: 8px;
	bottom: 2px;
	background: purple;
}

.date-default-month {
	position: absolute;
	color: black;
	top: 14px;
	left: 16px;
	font-size: 30px;
	font-weight: 500;
}

.date-default-day {
	position: absolute;
	color: black;
	top: 44px;
	left: 20px;
	font-size: 38px;
	font-weight: 500;
	text-align: center;
}

.date-default-year {
	position: absolute;
	left: 48px;
	top: 24px;
	text-align: center;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: white;
	font-size: 40px;
}

.score-grid-container {
	color: red;
	display: grid;
	width: 400px;
	height: 140px;
	background: black;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 10px auto 30px;
	grid-template-areas:
		"header header header"
		"user score date"
		"footer footer footer";
}

.score-grid-header {
	grid-area: user;
	background: yellow;
}

.score-grid-footer {
	grid-area: footer;
	background: brown;
	width: 100%;
	height: 100%;
}
