.spectacle-styled-fullscreen {
	position: fixed;
	bottom: 6px;
	right: 38px;
	width: 32px;
	height: 32px;
	font-size: 20px;
	color: #fff;
	transition: transform 0.3s ease;
	transform: scale(1);
}

.spectacle-styled-fullscreen:hover {
	transform: scale(1.2);
}

.spectacle-fullscreen-button {
	display: inline-block;
	appearance: none;
	background: none;
	border: none;
	outline: 0;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.spectacle-fullscreen-button > svg {
	height: 1.5em;
	width: 1.5em;
}
