.spectacle-overview-container {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
}

.spectacle-slide-thumbnail {
	cursor: pointer;
	position: relative;
	float: left;
	transition: opacity 333ms ease-in-out;
}

.spectacle-slide-thumbnail:hover {
	opacity: 1;
}
