@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.sticky-note {
	transition: all 0.3s;
	background: rgb(251, 213, 112);
	background: linear-gradient(0deg, rgba(251, 213, 112, 1) 0%, rgba(250, 237, 112, 1) 55%, rgba(233, 230, 83, 1) 91%, rgba(253, 251, 120, 1) 100%);
	box-shadow: 0 0 6px darkslategrey;
	width: 100%;
	height: 100%;
	min-width: 200px;
	min-height: 200px;
	cursor: inherit;
}

.sticky-note .editable {
	cursor: text;
}

.sticky-note-outer {
	z-index: 1002;
	width: 100%;
	height: 100%;
	transform: rotate(-3deg);
}

.sticky-note-exit {
	animation: sticky-note-swirl-out-bck 1s ease-in forwards;
}

.sticky-note-callback {
	cursor: pointer;
}

.sticky-note-content {
	position: absolute;
	margin-left: 2%;
	margin-top: 2%;
	height: 92%;
	width: 92%;
	overflow: auto;
	overflow-x: hidden;
}

.sticky-note-title {
	position: absolute;
	top: 10px;
	padding-left: 10px;
	font-family: "Indie Flower", cursive;
	font-size: 1.4em;
	font-weight: 800;
}

.sticky-note-editable-title {
	border: none;
	background: rgba(255, 255, 255, 0.3);
	font-weight: 800;
}

.sticky-note-editable-body {
	border: none;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: calc(100% - 30px);
	overflow-y: auto;
	resize: none;
}

.sticky-note-date {
	position: absolute;
	top: -5px;
	right: 5px;
}

.sticky-note-body {
	position: absolute;
	top: 40px;
	padding: 10px;
	padding-left: 15px;
	font-family: "Indie Flower", cursive;
	font-size: 1em;
	height: calc(100% - 65px);
	width: 100%;
	overflow-y: auto;
}

.sticky-note-watermark {
	position: fixed;
	font-family: Arial;
	font-variant: all-petite-caps;
	color: #000;
	opacity: 0.24;
	font-size: 1.5em;
	right: 20px;
	bottom: 0px;
	text-align: center;
}

.sticky-note-minimized {
	transform: scale(0.15);
	transition: all 0.6s;
	cursor: pointer;
}

.sticky-note-controls {
	position: absolute;
	right: 24px;
	top: 9px;
	width: auto;
	height: 16px;
	font-size: 32px;
	z-index: 2;
}

.sticky-note-remove-button {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;
	font-size: 26px;
	margin-left: 6px;
	z-index: 2;
	font-family: "Open Sans";
}

.sticky-note-remove-button:hover {
	cursor: pointer;
	color: red;
}

.sticky-note-minimizable {
	position: relative;
	float: left;
	font-size: 24px;
	z-index: 2;
}

.sticky-note-minimizable:hover {
	cursor: pointer;
	color: red;
}

/**
* ----------------------------------------
* animation swirl-out-bck
* ----------------------------------------
*/
@-webkit-keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}

@keyframes sticky-note-swirl-out-bck {
	0% {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
}
