.student-responses-time {
	font-variant-caps: petite-caps;
	font-size: 0.75em;
	position: absolute;
	top: 0;
	right: 4px;
	color: rgb(100, 100, 100);
}

.student-responses-row {
	padding: 0.1rem;
}

.student-responses-row .col {
	padding-left: 8px;
	padding-right: 8px;
}

.student-responses-first-col {
	background-color: rgba(173, 216, 230, 0.6);
}
