.component-styler {
	min-width: 650px;
	z-index: 1050;
	background-color: gainsboro;
	box-shadow: 0 0 10px darkslategray;
}

.component-styler-tag-button {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

.component-styler-class-button {
	float: right;
	margin-right: 40px;
	margin-top: 8px;
}

.component-styler-close-button {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 28px;
}

.component-styler-accordion {
	overflow-y: auto;
	height: calc(100% - 32px);
}

.component-styler-heading {
	font-variant: all-small-caps;
	font-size: 1.8em;
	padding-left: 6px;
	color: black;
	font-weight: 600;
	font-family: "Open Sans Condensed", sans-serif;
}
