.sketch-panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	touch-action: manipulation;
}

.canvas-wrapper {
	overflow: auto;
	position: relative;
}

.sketchpad-overlays {
	float: left;
}

.sketch-canvas {
	position: fixed;
	overflow: hidden;
}

.sketch-button-group {
	margin-left: 3px;
}

.sketch-input-group {
	width: 50px;
}

.sketch-drawing-buttons {
	margin-left: 3px;
}

.sketch-text-buttons {
	margin-left: 3px;
}

.sketch-pages {
	cursor: default;
	margin-top: 1px;
}

.sketch-text-input {
	position: absolute;
	background: transparent;
	border: none;
	left: 50%;
	top: 50%;
	pointer-events: none;
	width: fit-content;
}

.sketch-delete-button {
	position: fixed;
	background: transparent;
	border: 2px;
}

.sketch-text-input:focus {
	outline: none;
}

.sketch-node-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 3%;
	z-index: 2;
}

.sketch-node-container-basic {
	position: absolute;
	z-index: 2;
}

.sketch-colorpicker {
	top: 70px;
	left: 250px;
	position: absolute;
	z-index: 9999;
}

.invisible-page {
	display: none;
}

.sketch-font-dropdown {
	text-align: left;
}

.sketch-pointer {
	background-color: #ca5800;
	border-radius: 50%;
	display: block;
	height: 10px;
	opacity: 0;
	position: absolute;
	width: 10px;
	pointer-events: none;
}

.sketchpad-magnifying-glass {
	pointer-events: none;
	position: absolute;
	border: 1px solid black;
	border-radius: 3%;
	display: none;
	background: white;
}

.sketchpad-download-link-btn {
	padding: 0;
}

.sketchpad-download-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0.375rem 0.75rem;
}

.textLayer a {
	color: transparent
}
