.recorder-container {
	position: fixed;
	right: 2%;
	top: 5px;
	height: auto;
	text-align: right;
	min-width: 120px;
	z-index: 1002;
	box-shadow: 2px 2px 10px black;
	cursor: default;
}

.recorder-togglebutton {
	box-shadow: none !important;
}

.recorder-in-editor {
	position: absolute !important;
}

.recorder-button-container {
	position: absolute;
	border-radius: 50%;
	margin-right: 10px;
	color: rgba(0,0,0,1);
	border: solid 4px rgb(70,70,70);
	top: 8px;
	width: 30px;
	height: 30px;
	right: 0px;
}

.recorder-button-container:hover {
	border: solid 4px black;
}

.recorder-rec {
	font-family: Arial;
	font-size: 30px;
	font-weight: 800;
	padding-right: 80px;
	background: rgba(0, 80,255,0.5);
}

.recorder-button {
	position: absolute;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 3px;
	cursor: pointer;
}

.recorder-rec:hover {
	color: green;
}

#install-button {
	padding: 0;
	background: none;
	height: 36px;
	vertical-align: middle;
	cursor: pointer;
}
