.keyboard-helper {
	position: fixed;
	width: 40%;
	height: 80%;
	left: 58%;
	top: 14%;
	box-shadow: 0 0 4px black;
}

.keyboard-helper h1 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 800;
	margin-bottom: 10px;
}
