.range-question {
	border: 1px solid rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92,92,92, 0.5);
	margin: 0 auto 10px;
	max-width: 900px;
}

.range-question-toolbar {
	float: right;
}

.range-question-input-wrapper {
	margin-bottom: 12px;
}
