#Lesson {
	position: relative;
}

.error-message {
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	top: 50px;
	margin: auto;
	color: red;
	font-size: 14px;
}

.preview-drag-wrapper {
	background: white;
	border: 1px dashed #258080;
	padding: 2px;
	cursor: move;
}

.preview-drag-layer {
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
}
