.menu-item:hover {
	background: #fcfcfc;
	border-color: #95a5a6;
}

.menu-item {
	background: transparent;
	border: none;
	font-size: inherit;
	cursor: pointer;
	border-radius: 2px;
	border-color: transparent;
	border-style: solid;
	padding: 4px 8px;
}

i.prose-separator {
	display: inline-block;
	width: 0;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #fff;
	color: transparent;
	text-indent: -10px;
	margin: 0 2px;
}

.editorview-wrapper > .prose-menu-bar {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.editorview-wrapper.fullscreen > .prose-menu-bar {
	border-top: 0px;
}

.prose-menu-bar {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	align-items: baseline;
	border: 1px solid silver;
	position: relative;
}

.prose-menu-bar .circle-picker {
	background: rgb(248, 248, 255);
	border: 2px solid silver;
	border-radius: 8px;
	padding-left: 15px;
	padding-top: 15px;
}
