.free-text-question {
	border: 1px solid rgba(92, 92, 92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 4px rgba(92, 92, 92, 0.5);
	margin: 0 auto 10px;
	margin-top: 8px;
	max-width: 900px;
}

.free-text-question-solution-wrapper {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: lightgray;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	overflow: auto;
}

.free-text-question label {
	font-stretch: extra-expanded;
	font-weight: 600;
	color: #2e4468;
}

.free-text-question-toolbar {
	float: right;
}
