.broadcast-menu {
	position: fixed;
	right: 30px;
	top: 12px;
	background: pink;
	width: 300px;
	height: 300px;
	z-index: 1000;
	padding: 12px;
	box-shadow: 0 0 4px 4px darkgray;
}

.broadcast-video-panel {
	width: fit-content;
	position: fixed;
	z-index: 1002;
}

.broadcast-video-panel video {
	width: auto;
	height: 300px;
}

.broadcast-video-stop {
	position: fixed;
	top: 0px;
	right: 0px;
}
