#App #Lesson .statusbar {
	position: fixed;
}

#Lesson .statusbar {
	position: absolute;
	width: 34%;
	min-width: 300px;
	height: 48px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1003;
	opacity: 0.78;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
}

#Lesson .statusbar-progress {
	position: absolute;
	height: 12px;
	top: 50px;
	margin: auto;
	left: 0;
	right: 0;
	width: 83%;
}

#Lesson .outer-statusbar-progress-bar {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	width: calc(100% - 126px);
}

#Lesson .statusbar-progress .progress-bar {
	font-variant: small-caps;
	color: darkslategray;
	font-size: 10px;
	font-weight: 600;
}

#Lesson .statusbar-progress .bg-success {
	background-color: rgb(130, 224, 160) !important;
}

#Lesson .statusbar-progress .progress-time {
	animation: anim-fade-in 0.7s;
	float: left;
	color: darkslategray;
	text-align: center;
	font-weight: 600;
	background-color: #e9ecef;
	width: 70px;
	height: 16px;
	font-size: 10px;
	border: solid 1px darkgray;
	border-radius: 0.25rem;
}

#Lesson .progress-fade-out {
	animation: anim-fade-out 2s 2s forwards;
}

#Lesson .statusbar:hover {
	opacity: 1;
}

#Lesson .statusbar-upper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	background: purple;
	z-index: 2;
}

#Lesson .statusbar-smooth {
	background-color: rgb(232, 232, 232);
}

#Lesson .statusbar-button {
	margin-top: 2px;
	font-family: Open Sans Condensed;
	font-weight: 700;
	font-variant-caps: all-petite-caps;
	font-size: 20px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	line-height: 1;
	padding-top: 0;
	padding-bottom: 0.15rem;
	box-shadow: 0 0 2px grey inset;
	border-radius: 0;
	border: solid 1px darkgray;
}

#Lesson .statusbar-button:hover {
	background: #c49978;
	box-shadow: 0 0 4px white inset;
}

#Lesson .statusbar-left {
	position: absolute;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: rgb(232, 232, 232);
	transform: skewX(45deg);
	border-left: solid 1px darkgrey;
	border-bottom: solid 1px darkgrey;
	overflow: hidden;
	border-bottom-left-radius: 10px;
}

#Lesson .statusbar-middle {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: rgb(232, 232, 232);
	border-bottom: solid 1px darkgrey;
	z-index: 5;
}

#Lesson .statusbar-right {
	position: absolute;
	left: 80%;
	width: 20%;
	height: 100%;
	background-color: rgb(232, 232, 232);
	transform: skewX(-45deg);
	border-bottom: solid 1px darkgrey;
	border-right: solid 1px darkgrey;
	border-bottom-right-radius: 10px;
}

#Lesson .statusbar-text {
	color: #2e4468;
	bottom: -1px;
	height: auto;
	position: absolute;
	right: 20px;
	font-size: 12px;
	font-family: Open Sans Condensed;
	font-weight: 700;
	z-index: 2;
}

#Lesson .statusbar-voice {
	left: 10px;
	bottom: 5px;
	position: absolute;
	z-index: 2;
}

#Lesson .statusbar-calculator {
	left: 28px;
	bottom: 3px;
	position: absolute;
	z-index: 2;
	width: 18px;
	height: 18px;
}

#Lesson .statusbar-presentation-mode {
	left: 72px;
	bottom: 3px;
	position: absolute;
	z-index: 2;
	width: 18px;
	height: 18px;
}

#Lesson .statusbar-queue {
	left: 46px;
	bottom: 3px;
	position: absolute;
	z-index: 2;
	width: 32px;
	height: 18px;
}

#Lesson .statusbar-queue-counter {
	color: #2e4468;
	font-size: 12px;
	font-family: Open Sans Condensed;
	font-weight: 700;
	z-index: 2;
}

#Lesson .statusbar-voice-text {
	position: absolute;
	font-size: 12px;
	top: 22px;
	left: 2px;
	z-index: 2;
	width: max-content;
	background: lightblue;
}

#Lesson .statusbar-username {
	bottom: -1px;
	height: auto;
	margin-left: 35%;
	position: absolute;
	font-size: 14px;
	font-family: Open Sans;
	font-variant-caps: all-petite-caps;
}

@-webkit-keyframes turn {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

#Lesson .statusbar-presence {
	width: 10px;
	left: 30%;
	height: 10px;
	bottom: 3px;
	position: absolute;
	border-radius: 50%;
	border: solid 1px black;
	z-index: 2;
}

#Lesson .statusbar-inner-presence {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 14px;
	height: 14px;
	border-left: solid 1px darkslategray;
	border-radius: 50%;
	z-index: 1;
	-webkit-animation: turn 5s linear infinite;
	-webkit-animation-duration: 2s;
}

#Lesson .statusbar-calc-icon {
	opacity: 0.4;
}

#Lesson .statusbar-calc-icon:hover {
	opacity: 1;
}

#Lesson .statusbar-profile {
	width: 33px;
	height: 33px;
	border: solid 1px darkgray;
	border-radius: 0.25rem;
	margin-left: -35px;
	margin-top: -18px;
	float: left;
}

#unfinished-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

#unfinished-elem {
	position: absolute;
	animation: swing-in-right-fwd 1.2s;
	top: 50%;
	left: 50%;
	width: 100%;
}
