.voice-input {
	border: solid 1px rgb(150,150,150);
	margin-bottom: 20px;
	background: white;
}

.voice-input:hover {
	box-shadow: 0 0 4px rgb(60,60,60);
}

.voice-input-text .recording {
	background: rgba(204,88,0, 0.16);
}

.voice-input svg {
	opacity: 0.7;
}

.voice-input-text {
	float: left;
	width: calc(100% - 30px);
	height: 100%;
	border: none;
	padding-left: 8px;
	color: rgb(60,60,60);
	font-family: Open Sans;
}

.voice-input-text:focus {
	outline-width: 0;
}


.voice-input-status-text {
	float: left;
	border: solid 1px gainsboro !important;
	border: none;
	padding-left: 8px;
	color: rgb(60,60,60);
	font-family: Open Sans;
}

.voice-input-status {
	float: left;
	height: 100%;
	border: none;
	font-size: 14px;
	padding-left: 8px;
	color: rgb(128,128,128);
	font-family: Open Sans;
}

.voice-microphone {
	float: right;
	margin-top: 2px;
	height: 80%;
	width: auto;
	opacity: 0.7;
	fill: gray;
}

.voice-solo-microphone .voice-microphone {
	float: none;
	margin-top: 2px;
	height: 80%;
	width: auto;
	opacity: 0.7;
	fill: gray;
}

.voice-microphone:hover {
	opacity: 1;
	fill: green;
}

.voice-microphone svg {
	fill: green;
}

.voice-recording {
	fill: red;
}

.voice-solo-microphone .voice-recording {
	fill: red;
}
