.image-question {
	max-width: 600px;
	margin: 0 auto 10px;
}

.image-question-image {
	width: 400px;
	height: auto;
}

.image-question-toolbar {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.image-question-dropzone {
	min-height: 150px;
	width: 50%;
	margin: 0 auto;
	border: 1px solid blue;
	padding: 10px;
}

.image-question-upload {
	width: 250px;
}
