.img-tooltip {
	top: 0%;
	right: -10%;
	background-color: lightgray;
	color: black;
	border-radius: 5px;
	opacity: 0;
	padding: 15px;
	position: absolute;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.img-container {
	position: relative;
}

.img-container:hover .tooltip {
	opacity: 1;
}

.json-markup {
	font-size: 20px;
	white-space: pre;
}

.json-markup-key {
	font-weight: bold;
}

.json-markup-bool {
	color: lightcoral;
}

.json-markup-string {
	color: darkgreen;
}

.json-markup-null {
	color: gray;
}

.json-markup-number {
	color: steelblue;
}
