.img-tooltip {
	top: 24px;
	right: 24px;
	width: max-content;
	background-color: lightgray;
	color: black;
	border-radius: 5px;
	text-align: left;
	display: none;
	padding: 15px;
	position: fixed;
	font-size: 22px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index: 9999;
}

.img-container {
	position: relative;
}

.img-container:hover .img-tooltip,
.editor-image-view:hover .img-tooltip {
	display: initial;
}
