.instructor-view {
	width: 45%;
	min-width: 400px;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 1003;
}

.instructor-view-top {
	top: 0;
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: rgb(232, 232, 232);
	border-left: solid 1px darkslategrey;
	border-top: solid 1px darkslategrey;
	background-image: linear-gradient(0deg, rgb(232, 232, 232), ghostwhite );
	border-top-left-radius: 60px;
	text-align: center;
	margin-right: 30px;
	border-bottom: solid 1px silver;
}

.instructor-view-bottom {
	position: absolute;
	top: 95%;
	height: 5%;
	width: 100%;
	background-color: rgb(232, 232, 232);
	border-left: solid 1px darkslategrey;
	border-bottom: solid 1px darkslategrey;
	border-bottom-left-radius: 60px;
}

.instructor-view-middle {
	position: absolute;
	top: 10%;
	height: 85%;
	width: 100%;
	background-color: rgb(250, 250, 250);
	border-left: solid 1px darkslategrey;
}

.instructor-view-handler {
	position: absolute;
	opacity: 0.7;
	cursor: pointer;
	top: 43%;
	width: 0;
	height: 0;
	border-style: solid;
}

.panel-notes {
	height: 380px;
	overflow-y: scroll;
}
