.instructor-view {
	width: 45%;
	min-width: 400px;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 1003;
}

.instructor-view-top {
	top: 0;
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: rgb(232, 232, 232);
	border-left: solid 2px darkgrey;
	border-top-left-radius: 50%;
	text-align: center;
	margin-right: 30px;
}

.instructor-view-bottom {
	position: absolute;
	top: 90%;
	height: 10%;
	width: 100%;
	background-color: rgb(232, 232, 232);
	border-left: solid 2px darkgrey;
	border-bottom-left-radius: 50%;
}

.instructor-view-middle {
	position: absolute;
	top: 10%;
	height: 80%;
	width: 100%;
	background-color: rgb(232, 232, 232);
	border-left: solid 2px darkgrey;
}

.instructor-view-handler {
	position: absolute;
	opacity: 0.7;
	cursor: pointer;
	top: 43%;
	width: 0;
	height: 0;
	border-style: solid;
}
