.user-list-group {
	overflow-y: scroll;
	margin-left: 0;
	font-size: 15px;
	font-family: Open Sans;
}

.user-list-item {
	cursor: pointer;
	padding: 5px;
}

.user-list-item:hover {
	background: #d39e00 !important;
}

#duplicated-elem {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 3000;
}

#duplicated-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.user-thumbnail {
	width: 32px;
	height: 32px;
	border: solid 1px darkgray;
	border-radius: 0.25rem;
	margin-right: 5px;
	cursor: pointer;
}

.user-thumbnail:hover {
	transform: scale(3);
	margin-left: 25px;
}
