.markdown-editor {
	border: 1px solid  rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92,92,92, 0.5);
	margin-bottom: 15px;
}

.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side {
	z-index: 1002 !important;
}

.editor-toolbar {
	background: ghostwhite;
	opacity: 0.6;
}

.editor-statusbar {
	background: ghostwhite;
	opacity: 0.6;
}
