.markdown-editor {
	border: 1px solid  rgba(92,92,92, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(92,92,92, 0.5);
	margin-bottom: 15px;
}

.CodeMirror {
	max-height: 420px;
}
.CodeMirror-scroll {
	min-height: 420px;
	max-height: 420px;
}

.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side {
	z-index: 1002 !important;
	max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
	min-height: 0;
	max-height: none;
}

.editor-toolbar {
	background: ghostwhite;
	opacity: 0.6;
}

.editor-statusbar {
	background: ghostwhite;
	opacity: 0.6;
}

.editor-preview-side th, .editor-preview th {
	color: #464a4c;
	background-color: #eceeef;
	padding: .3rem;
	border-top: 1px solid #eceeef;
	text-align: left;
	font-weight: bold;
	display: table-cell;
}

.editor-preview-side td, .editor-preview td {
	padding: .3rem;
	vertical-align: top;
	border-top: 1px solid #eceeef;
	display: table-cell;
}

.editor-preview-side thead, .editor-preview thead {
	display: table-header-group;
	vertical-align: middle;
}

.editor-preview-side table, .editor-preview table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	display: table;
	border-spacing: 2px;
	border-color: grey;
	text-align: left;
}

.font_size_button {
	width: 40px !important;
	height: 30px !important;
}

.font_size_input {
	width: 40px !important;
	height: 30px !important;
}

.voice_input_button {
	width: 30px !important;
	height: 30px !important;
	vertical-align: top;
}

.select_page_size {
	width: 100px !important;
	height: 30px !important;
}
